# Rust
/target/
**/*.rs.bk
*.pdb

# Cargo
Cargo.lock

# Logs
logs/
*.log

# Python
src/__pycache__

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
result
